<div class="container-fluid">
    <nav class="navbar navbar-inverse navabar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="behavior.html">Behavior</a>
        </div> <!-- navbar header -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/behavior">Behavior</a></li>
                <li class="active"><a href="/">Students<span class="sr-only">(current)</span></a></li>
                <li> <a href="/teachers">Teachers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html" class="logout"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
            </ul>
            </div> <!-- /.navbar-collapse -->
            </nav>
            </div><!-- /.container-fluid -->

            <div class="content">
			<div class="container-fluid">
				<div class="header" id="student-header">
					<h2>Current Students</h2>
		    	</div> <!-- / #student-header -->

                <div class="col-md-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
					        <h3 class="panel-title">Add Student</h3>
						</div><!-- / .panel-heading -->
		      			<div class="panel-body">
							<form method="POST" action="/api/student/"> 
                         	<div class="form-group">
									<label for="first">Student's First Name</label>
									<input type="text" name="first" id="first" class="form-control" placeholder="First name up to 35 letters." pattern="[A-Za-z]{3,35}" required="true">
		            			</div> <!-- / .form-group -->

		            			<div class="form-group">
									<label for="last">Student's Last Name</label>
									<input type="text" name="last"  id="last" class="form-control" placeholder="Last name up to 35 letters." pattern="[A-Za-z]{3,35}" required="true">
		            			</div> <!-- / .form-group -->
		            			{{!-- <div class="form-group">
									<label for="select-gender">Gender</label>
									<select id="select-gender" class="form-control" name="gender" required>
										<option value="" selected disabled>Gender</option>
										<option value="F">Female</option>
										<option value="N">Non-Binary</option>
										<option value="M">Male</option>
									</select>
                                    </div> <!-- / .form-group --> --}}
		            			{{!-- <div class="form-group">
									<label for="select-condition">Condition</label>
									<select id="select-condition" class="form-control" name="condition" required>
										<option value="" selected disabled>Condition</option>
										<option value="1">Critical</option>
										<option value="2">Serious</option>
										<option value="3">Good</option>
									</select>
		            			</div> <!-- / .form-group --> --}}
								<button type="submit" id="add-patient-btn" class="btn btn-primary">Submit</button>
							</form>
						</div><!-- / .panel-body -->
					</div> <!-- / .panel -->
				</div> <!-- / .col-md-3 -->

				<div class="col-md-9">
		    		<div class="panel panel-primary">
		    			<div class="panel-heading">
		        			<h3 class="panel-title">Current Student List</h3>
		      			</div> <!-- / .panel-heading -->
		      			<div class="panel-body">
                    <table class="table table-hover table-responsive" id='student-table'>
                        <thead>  
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Admitted Date</th>
                            </tr>
                        </thead>
                        <tbody>
                           {{#each student_db}}
                         <tr> 
                             <td><h5>{{first}}</h5></td>    
                             <td><h5>{{last}}</h5></td>
                              {{!-- <td> {{gender}} </td>
                              <td> {{condition}} </td> --}}
                             <td><h5>{{admitted}}</h5></td>
                         </tr>
                           {{/each}}
                        </tbody>
                    </table>
                    <!-- / #student-table -->
               </div><!-- /.panel-body -->
		    		</div><!-- /.panel -->
		    	</div><!-- /.col-md-9 -->
			</div><!-- /.content -->
		</div><!-- /.container-fluid -->

	<footer>
		<h4 class="footer-copy">&copy; Student-Behavior-System 2018</h4>
	</footer>
        </div>
    </nav>
</div>